<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {{content}}

    {% include footer.html %}
  <!-- <script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script> -->
  <!-- build:js /assets/scripts/vendor.js -->
  <script src="/assets/scripts/vendor.js"></script>
  <!-- endbuild -->
  <!-- build:js /assets/scripts/bundle.js -->
  <script src="/assets/scripts/bundle.js"></script>
  <!-- endbuild -->
  </body>

</html>
