---
layout: default
---
{% if page.title != 'Blog' %}
<div class="section">
  <div class="limiter">
    <header class="section__header">
      <h2 class="section__title">{{page.title}}</h2>
      <div class="section__introduction prose prose--responsive">
       {{ content }}
      </div>
    </header>
  </div>
</div>
{% else %}
<div class="section section__compact">
  <div class="limiter">
    <header class="section__header">
      <h2 class="section__title">{{page.title}}</h2>
      {% if page.header %}
      <div class="section__introduction prose prose--responsive">
       {{page.header}}
      </div>
      {% endif %}
    </header>
  </div>
</div>

<div class="section main-content">
  <div class="limiter">
    {{content}}  
  </div>
</div>



{% endif %}