---
layout: default
---
<article class="post-page prose prose--responsive" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post--header">
  
    <h2 class="section__title">{{ page.title }}</h2>
	<div class="post-meta">
		<div class="post-date" datetime="{{post.date}}">{{page.date | date: "%b %-d, %Y"}}</div>
		<div class="post-author">by {{page.author}}</div>
	</div>
	<span class="post--header--label">{{page.categories}}</span>
  </header>

  <div class="post--content row" itemprop="articleBody">
    {{ content }}
  </div>

</article>
