---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header row">
    <!--<h1 id="title" class="post-title" itemprop="name headline">{{ page.title }}</h1>-->
	<div class="post-meta">
		<div class="post-date" datetime="{{post.date}}">{{page.date | date: "%b %-d, %Y"}}</div>
		<div class="post-author"><a href="#">by {{page.author}}</a></div>
	</div>
	<div class="post-categories">CATEGORY: {{page.categories}}</div>
  </header>

  <div class="post-content row" itemprop="articleBody">
    {{ content }}
  </div>

</article>
