@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

/**
 * Icons
 */
 $grey-color:       #828282;
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.big-image {
    background-size: 100% auto,100% auto,100% auto;
    padding: 15% 0 !important;
    position: relative;
    background: url(/assets/img/bench.jpg) center right/100% auto no-repeat;
    webkit-transition: background-size 18s .7s ease-out;
    -moz-transition: background-size 18s .7s ease-out;
    transition: background-size 18s .7s ease-out;
}

@media screen and (max-width: 640px) {
	.big-image {padding: 5% 0 10% !important;}
}

.pad-2x {
	padding: 15px 20px;
	border-radius: 5px;
}
.bg-white {
	background: #FFF;
	background: rgba(255,255,255,0.8);
}

.post-content {
	a {
		display: inline-block;
	    position: relative;
	}
 	a:after {
	    content: "";
	    position: absolute;
	    top: 90%;
	    right: 0;
	    left: 0;
	    border-top: 4px solid #25bcca;
	}
}