@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

/**
 * Icons
 */
 $grey-color:       #828282;
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.big-image {
    background-size: 100% auto,100% auto,100% auto;
    padding: 13% 0 !important;
    position: relative;
    background: url(/assets/img/bench.jpg) center right/100% auto no-repeat;
    -webkit-transition: padding 0.25s ease;
    transition: padding 0.25s ease;
    /*webkit-transition: background-size 18s .7s ease-out;
    -moz-transition: background-size 18s .7s ease-out;
    transition: background-size 18s .7s ease-out;*/
}

.big-image-small {padding: 1% 0 !important;}

@media screen and (max-width: 640px) {
	.big-image {padding: 5% 0 5% !important;}
    .big-image-small {padding: 1% 0 5% !important;}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .big-image {padding: 8% 0 !important;}
}

.pad-2x {
	padding: 15px 20px;
	border-radius: 5px;
}
.bg-white {
	background: #FFF;
	background: rgba(255,255,255,0.8);
}

.post-content {
	a {
		display: inline-block;
	    position: relative;
	}
 	a:after {
	    content: "";
	    position: absolute;
	    top: 90%;
	    right: 0;
	    left: 0;
	    border-top: 4px solid #25bcca;
	}
}

.entry-title {
   & > a:after  {
        border-top: none;
    }
    & a {
        color:black;
        font-weight: 900;
        line-height: 2.8rem;
    }
}

.logo {
	height: 38px;
}
.menu-text.logo {
	padding: 0.7rem 1rem;
}

.nav-global-secondary {
    width: auto;
    float: right;
}

.nav-global-secondary li a {
	color: black;
    display: block;
    margin: 0;
    padding: 1.7rem 24px !important;
    -webkit-transition: padding 0.25s ease;
    transition: padding 0.25s ease;
    font-weight: 900;
}

.nav-global-secondary ul li > a.state-active {
	background-color: #D22027;
    color: white;
}

.tags {
	li:first-child {
		background-color: #D22027;
	    color: #fff;
	    text-transform: uppercase;
	}
}

.global-header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    
    -webkit-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
    z-index: 5;
}

.post-meta {text-transform: uppercase;}

.post-date,.post-author {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-size: 0.9rem;
    font-weight: 700;
}

.post-date, .post-author {
    color: #999595;
}
.post-author {padding-left: 10px;}

.post-meta {
   & a:after  {
        border-top: none;
    }
}
.post-categories {
    color: #999595;
    font-size: 14px;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}

.page-title {
    padding: 20px 0;
    width: auto;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    float: none;
    min-width: 5em;
    text-align: center;
    display: inline-block;
    font-size: 57px;
    line-height: 65px;
    line-height: 4.0625rem;
    margin-top: 1.5625rem;
    margin-top: 25px;
    color: #FFF;
    text-transform: uppercase;
}

