---
layout: default
masthead-class: "home"
homepage: "home"
---

<style type="text/css">
	article {padding-bottom: 5em;}
</style>

<div class="row">
	<div class="small-12 medium-10 small-centered columns">
	    <div class="blog-post">
	    	{% for post in site.posts %}
	    		{%if post.homepage != false %}
	    		<article>
	    		<h3>
		    		<a href="{{post.url |prepend: site.baseurl}}#title">
		    			{{post.title}}<br>
		    			<small>{{post.date | date: "%b %-d, %Y"}}</small>
		    		</a>
	    		</h3>
	    		<a href="{{post.url |prepend: site.baseurl}}#title"><img class="thumbnail" src="{{post.image | prepend: '/img/' | prepend: site.baseurl}}"></a>
	        	<p>{{post.excerpt}}</p>
	        	<div class="text-center">
	        		<a class="button large expanded radius hollow" href="{{post.url |prepend: site.baseurl}}">Keep Reading</a>
	        	</div>
	        	</article>
	        	{% endif %}
	    	{% endfor %}
	      
	        
	      
	    </div>
	</div>
</div>