---
layout: default
masthead-class: "home"
homepage: "home"
---
<style type="text/css">
	@media only screen and (max-width: 39.9375em) {
		.big-image {background: url(//api.mapbox.com/styles/v1/rusty/cil9y7vpr0072c4lxn6udy0sj/static/-4.779787,53.396119,5.80,0.00,0.00/1274x569@2x?access_token=pk.eyJ1IjoicnVzdHkiLCJhIjoib0FjUkJybyJ9.V9QoXck_1Z18MhpwyIE2Og) left/140% auto no-repeat;}
	}
	.big-image {background-image:url(//api.mapbox.com/styles/v1/rusty/cil9y7vpr0072c4lxn6udy0sj/static/-4.779787,53.396119,5.80,0.00,0.00/1274x569@2x?access_token=pk.eyJ1IjoicnVzdHkiLCJhIjoib0FjUkJybyJ9.V9QoXck_1Z18MhpwyIE2Og); }
}
</style>

<style type="text/css">
	article {padding-bottom: 5em;}
</style>

<div class="row">
	<div class="small-12 medium-10 small-centered columns">
	    <div class="blog-post">
	    	{% for post in site.posts %}
	    		{%if post.homepage != false %}
	    		<article>
	    		<h3>
		    		<a href="{{post.url |prepend: site.baseurl}}#title">
		    			{{post.title}}<br>
		    			<small>{{post.date | date: "%b %-d, %Y"}}</small>
		    		</a>
	    		</h3>
	    		<a href="{{post.url |prepend: site.baseurl}}#title"><img class="thumbnail" src="{{post.image | prepend: '/img/' | prepend: site.baseurl}}"></a>
	        	<p>{{post.excerpt}}</p>
	        	<div class="text-center">
	        		<a class="button large expanded radius hollow" href="{{post.url |prepend: site.baseurl}}">Keep Reading</a>
	        	</div>
	        	</article>
	        	{% endif %}
	    	{% endfor %}
	      
	        
	      
	    </div>
	</div>
</div>