<header class="site-header">

  
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar global-header" id="example-menu">
<div class="row columns">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text logo"><a href="{{site.baseurl | append: '/'}}"><img class="logo" src="{{'/assets/img/logo.png' | prepend: site.baseurl}}" title="{{site.title}}"/></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
  <nav class="nav-global-secondary">
    <ul class="menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link {%if page.title == my_page.title %}state-active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a class="page-link" href="mailto:{{ site.email }}">Contact</a></li>
    </ul>
  </nav>
  </div>
</div>
</div>

<div class="callout large primary big-image {%unless page.masthead-class %}big-image-small{% endunless %}">
  <div class="row column text-center">
    <h1><img class="pad-2x bg-white" src="{{"phr_logo.png" | prepend: "/img/" | prepend: site.baseurl}}" style="width:300px;"></h1>
  </div>
</div>
</header>
