---
layout: default
masthead-class: "home"
homepage: "home"
no_row: "yes"
---
<style type="text/css">
  @media only screen and (max-width: 39.9375em) {
    .big-image {background: url(//api.mapbox.com/styles/v1/rusty/cil9y7vpr0072c4lxn6udy0sj/static/-4.779787,53.396119,5.80,0.00,0.00/1274x569@2x?access_token=pk.eyJ1IjoicnVzdHkiLCJhIjoib0FjUkJybyJ9.V9QoXck_1Z18MhpwyIE2Og) left/140% auto no-repeat;}
  }
  .big-image {background-image:url(//api.mapbox.com/styles/v1/rusty/cil9y7vpr0072c4lxn6udy0sj/static/-4.779787,53.396119,5.80,0.00,0.00/1274x569@2x?access_token=pk.eyJ1IjoicnVzdHkiLCJhIjoib0FjUkJybyJ9.V9QoXck_1Z18MhpwyIE2Og); padding: 3% 0 !important; }
}
</style>

<style type="text/css">
  article {padding-bottom: 5em;}
  p.blog-date {
    text-transform: uppercase;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 0.9rem;
}
  .fill-grey {
    background-color: #f8f8f8;
}
@media only screen and (max-width: 39.9375em) {
  .section {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:3em;
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 40em) {
  .section {
      padding: 3em 0;
  }
}

.quiet {color: #7f7f7f;}
.pad2y {padding-top: 20px; padding-bottom: 20px;}
</style>

<div class="section" style="position: relative;overflow:hidden;">
 
    <video class="block wmax960 absolute bottom right z-neg1 w-auto h-auto wmin-full hmin-full none block-mm" autoplay="" loop="" data-reactid="277" style="    z-index: -1;
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    left: 0;"><source src="https://s3-eu-west-1.amazonaws.com/colinpublicdocs/map-zoom_1.mp4" type="video/mp4" data-reactid="278"></video>
    
    <div class="limiter video-intro" style="min-height: 440px;padding-top: 90px;" data-reactid="279">
    <div class="flex-parent flex-parent--center-cross py48 py96-mm mt36 hmin480" data-reactid="280">
    <div class="flex-child flex-child--grow" data-reactid="281">
    <div class="video-box color-white relative col--6-mxl col--9-mm" data-reactid="282">
    <div class="mb18" data-reactid="283">
    <div class="txt-s px18 py6 txt-fancy txt-uppercase txt-spacing1 round-full inline-block bg-lighten25 color-white" data-reactid="284">Products</div>
    </div>
    <h1 class="txt-fancy txt-h1-mm txt-h2 color-white" data-reactid="285">PHR Solar Explorer</h1><p class="txt-l" data-reactid="286">A simple map and solar planning application explorer.</p>
    <p class="txt-l" data-reactid="286">A service which enables the user to fully explor the evolution of the utility scale solar energy sector in Ireland.</p>
    <p>As featured on RTE's Primetime</p>
    <p><strong>Contact us for a free trial.</strong></p>
    <div class="mt24 flex-parent-mm flex-parent--center-cross-mm" data-reactid="287"><div class="flex-child-mm flex-child--no-shrink-mm" data-reactid="288"><a class="button button--base-bounded" href="mailto:info@phr.ie" data-reactid="289">Contact Us</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  
</div>

<div class="section">
  <div class="limiter">
    <header class="section__header">
      <h2 class="section__title">Panacea Research</h2>
      <div class="section__introduction prose prose--responsive">
       <p>PHR provides market intelligence to a variety of sectors including energy development and public health infrastructure. PHRs tools enable us to accurately map and outline the current construction market in addition to quantifying various levels of planning activity local, regional and national level.</p> 
       <p>PHRs currently clients include renewable energy developers, fund managers, planning consultants as well as Irish governmental energy agencies and professional organisations.</p>
      </div>
    </header>
  </div>
</div>




<div class="section section--media-bleed-right">
  <div class="limiter">
    

    <div class="section__copy prose prose--responsive">
      
      <header class="section__header">
        <small class="section--label">other services</small>
        <h3 class="section__title">Solar Planning Application Tracking </h3>

      </header>
      <div class="section__body">
        <p>In April 2017, PHR were proud to launch our Utility Scale Solar Photovoltaic planning application tracker.</p>
        <p>We've called the 'Solar Explorer' as that's what it is on the tin. A service which enables the user to fully explorer the evolution of the utility scale solar energy sector in Ireland.</p>
        <p>Contact us for a free trial.</p>
      </div>
      
      <a href="mailto:info@phr.ie" class="button button--large button--primary-bounded">info@phr.ie</a>
    </div>

    <div class="section__media img">
      <img src="{{'/assets/graphics/content/solar-map.jpg' | prepend: site.baseurl }}">
    </div>
  </div>
</div>

<div class="section section--media-bleed-left">
  <div class="limiter">
    <div class="section__media">
      <img src="{{'/assets/graphics/home/homepage-map.svg' | prepend: site.baseurl }}">
    </div>

    <div class="section__copy prose prose--responsive">
      
      <header class="section__header">
        <small class="section--label">Briefing</small>
        <h3 class="section__title">Investing in the future of Ireland's nursing homes</h3>

      </header>
      <div class="section__body">
        <p>This briefing note will provide an introduction to the location of nursing homes of under 60 beds in the Republic of Ireland. It will also estimate the level of investment required in order bring existing facilities up to the 60 bed level. The rationale for this examination arises from a report commissioned by the Department of Health in 2015.</p>
      </div>
      
      <a href="{{'/investing-in-the-future/' | prepend:site.baseurl }}" class="button button--large button--primary-bounded">Read the note</a>
    </div>
  </div>
</div>

<div class="section">
  <div class="limiter">
  <header class="section__header">
    <h2 class="section__title">From our blog</h2>
    <div class="section__body">
      <div class="section__body--prose">
      <p>Our aim is to make it easy for you to get the insights you want. Follow our blog for some tips and advice on what can be done.</p>
      </div>
    </div>
  </header>
  
      <div id="blog-posts" class="blog-post">
        {% for post in site.posts %}
          {%if post.homepage != false %}
          <article class="card">
            <div class="card__contents">
              
              <figure class="card__media">
                <div class="card_thumbnail">
                  <a href="{{post.url | prepend: site.baseurl}}#title"><img class="thumbnail" src="

                    {% if post.image contains '/assets/'' %}
                    {{post.image | prepend: site.baseurl}}
                    {% else %}
                    {{post.image | prepend: '/img/' | prepend: site.baseurl}}
                    {% endif %}"></a>
                </div>
              </figure>
              
              <div class="card__copy">
                <header class="card__header">
                  <p class="blog-date">{{post.date | date: "%b %-d, %Y"}}</p>
                  <h3 class="card__header">
                    <a href="{{post.url |prepend: site.baseurl}}#title">
                      {{post.title}}<br>
                      
                    </a>
                  </h3>
                </header>
                <div class="card__body">
                  <div>
                  {% if post.teaser %}
                    <p>{{post.teaser}}</p>
                  {% else %}
                    {{post.excerpt}}
                  {% endif %}
                  </div>
                  
                  <a class="button button--primary" href="{{post.url |prepend: site.baseurl}}">Keep Reading</a>
                </div>
              </div>
              
            </div>
          </article>
          {% endif %}
        {% endfor %}
        
          
        
      </div>
  </div>
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>