<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-site-verification" content="4Dl6xsmHKZH7TgjbaF0N1Q7EpeUgaMdt-heG_zFpUZQ" />
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- build:css /assets/styles/vendor.css -->
  <!-- endbuild -->

  <!-- build:css /assets/styles/main.css -->
  <link rel="stylesheet" href="/assets/styles/main.css">
  <!-- endbuild -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!--WEB FONTS-->
  <script src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9.js"></script>
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
</head>
