<header class="page__header" role="banner">
  <div class="limiter">
    <div class="page__headline">
      <div class="header-icon">
        <h1 class="page__title">
          <a href="{{site.baseurl}}/" title="Visit Homepage">
            <span class="mast-logo mast-logo--h">
              <img src="/assets/graphics/layout/phr-logo-h-pos.svg" class="mast-logo__image">
              <strong class="mast-logo__text">Panacea Health Research</strong>
            </span>
          </a>
        </h1>
      </div>
    </div>
    <nav class="page__prime-nav">
      <h2 class="toggle-menu">
        <a href="#global-menu" title="Show/hide menu" data-hook="global-menu:trigger">
          <span>Browse</span>
        </a>
      </h2>
      <div class="menu-wrapper" data-hook="global-menu:wrapper">
      <ul class="global-menu" id="global-menu">
        {% for my_page in site.pages %}
        {% if my_page.title and my_page.no_nav != true %}
        <li><a class="global-menu-item {%if page.title == my_page.title %}state-active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}"><span>{{ my_page.title }}</span></a></li>
        {% endif %}
        {% endfor %}
        <li><a class="global-menu-item" href="mailto:{{ site.email }}"><span>Contact</span></a></li>
        
      </ul>
    </div>
    </nav>
    
  </div>
</header>


<!-- <header class="site-header">

  
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar global-header" id="example-menu">
<div class="row columns">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text logo"><a href="{{site.baseurl | append: '/'}}"><img class="logo" src="{{'/assets/img/logo.png' | prepend: site.baseurl}}" title="{{site.title}}"/></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
  <nav class="nav-global-secondary">
    <ul class="menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link {%if page.title == my_page.title %}state-active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a class="page-link" href="mailto:{{ site.email }}">Contact</a></li>
    </ul>
  </nav>
  </div>
</div>
</div>

<div class="callout large primary big-image {%unless page.masthead-class %}big-image-small{% endunless %}" style="background-color: #000;
    opacity: 0.8;">
  <div class="row column text-center">
    <h1 {%unless page.homepage == "home"%} class="page-title" {%endunless%}>
    {% if page.homepage == "home" %}
      <img class="pad-2x bg-white" src="{{"phr_logo.png" | prepend: "/img/" | prepend: site.baseurl}}" style="width:300px;">
    {% else %}
      {{page.title}}
    {% endif %}

    </h1>
  </div>
</div>
</header>
 -->