<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% if page.title == "Blog" %}
    <div class="column row">
      <div class="small-12 small-centered columns">
        {{ content }}
      </div>
    </div>
    {% elsif page.layout == "report" or page.no_row == "yes" %}
      {{ content }}
    {% else %}
    <div>
      <!--small-12 medium-10 small-centered columns-->
      <div class="column row medium-8">
        {{ content }}
      </div>
    </div>
    {% endif %}

    {% include footer.html %}
  <script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
